@model BenimKutuphane.Models.Entity.TabloKitap
@{
    ViewBag.Title = "KitapEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <b>Kitabın Adı</b>
        @Html.TextBoxFor(k => k.Ad, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <b>Kitabın Kategorisi</b>
        @Html.DropDownListFor(k => k.TabloKategori.ID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <b>Kitabın Yazarı</b>
        @Html.DropDownListFor(k => k.TabloYazar.ID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <b>Kitabın Basım Yılı</b>
        @Html.TextBoxFor(k => k.BasimYili, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <b>Kitabın Yayınevi</b>
        @Html.TextBoxFor(k => k.YayinEvi, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Kitap Ekle</button>
    </div>
    @*<input type="hidden" name="KitapDurum" value="True" />*@
</form>

